body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(120deg, #e0f7fa, #ffffff);
}

a { color: #0077b6; text-decoration: none; }
a:hover { color: #023e8a; }


header {
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    color: #fff;;
}
.profile-pic { width: 150px; border-radius: 50%; margin-bottom: 20px; }
header h1 { margin: 10px 0; font-size: 2.5rem; }
header p {  font-size: 1.2rem; font-weight: 700;}


section { padding: 50px 20px; max-width: 800px; margin: auto; }
section h2 { text-align: center; margin-bottom: 30px; color: #0077b6; }
#about p { text-align: center; margin: 10px auto; max-width: 700px; }
#about h1 { text-align: center; margin: 10px auto; max-width: 700px; }

.skill { margin: 15px 0; }
.skill span { font-weight: bold; display: block; margin-bottom: 5px; }
.skill-bar { background: #ccc; border-radius: 25px; overflow: hidden; height: 20px; }
.skill-fill { background: #00b4d8; height: 100%; width: 0; border-radius: 25px; transition: width 2s; }


.projects-grid { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; }
.project-card { background: #fff; padding: 20px; width: 280px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); transition: transform 0.3s, box-shadow 0.3s; }
.project-card:hover { transform: translateY(-5px); box-shadow: 0 8px 20px rgba(0,0,0,0.2); }


form input, form textarea { display: block; width: 100%; max-width: 700px; margin: 10px auto; padding: 12px; border-radius: 15px; border: 1px solid #ccc; }
form button { display: block; margin: 15px auto; padding: 12px 25px; background: #0077b6; color: #fff; border: none; border-radius: 8px; cursor: pointer; transition: background 0.3s; }
form button:hover { background: #023e8a; }
#contact p { text-align: center; margin-top: 10px; }
.contact-center{display:flex;justify-content:center;gap:50px;margin-top:30px;flex-wrap:wrap}.contact-item{text-align:center}.contact-item a{font-size:2.5rem;color:#023e8a;display:block;margin-bottom:10px;transition:color 0.3s,transform 0.3s}
.contact-item a:hover{color:#00b4d8;transform:scale(1.2)}.contact-item p{margin:0;font-weight:500;font-size:1rem;color:#333}


footer { text-align: center; padding: 30px 20px; background: #f5f5f5; }
footer a { margin: 0 10px; }


@media(max-width:768px){.projects-grid{flex-direction:column;align-items:center;}}